*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000000;
}
.navbar{
    display: flex;
    background-color: #700B97;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
}
.navbar p{
    color: #000000;
    margin-left: 10%;
    font-size: 2em;
    font-family: 'Exo', sans-serif;
    cursor: pointer;
    text-shadow:
    0 0 7px #8E05C2,
    0 0 10px #8E05C2,
    0 0 21px #8E05C2,
    0 0 42px #700B97,
    0 0 82px #700B97,
    0 0 92px #700B97,
    0 0 102px #700B97,
    0 0 151px #700B97;
}
.userDp{
    margin-left: auto;
    margin-right: 5%;
    border-radius: 50%;
}
.logo{
    margin-left: 5%;
    border-radius: 50%;
    border: 3px solid #8E05C2
}